*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: fantasy;
    height: 100vh;
    background-color: cornflowerblue;
}

.button{
    position: relative;
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: aliceblue;
    display: inline-block;
    text-decoration: none;
    color: crimson;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

.button:hover{
    letter-spacing: 0.1rem;
}

#newsletter{
    position: fixed;
    top: -100%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: azure;
    z-index: 1000;
    width: 450px;
    padding: 80px 50px 50px;
    transition: 0.5s;
    border-radius: 4px;
    visibility: hidden;
}

#newsletter.active{
    visibility: visible;
    top: 50%;
}

#newsletter h2{
    color: saddlebrown;
    text-align: center;
    font-size: 24px;
    margin:20px 10px ;

}

#newsletter p{
    text-align: center;
    color: saddlebrown;

}

#newsletter .box{
    position: relative;
    width: 100%;
    margin-top: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

input,button{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    outline: none;
    font-size: 1rem;
    font-family: serif;
}

button{
    border: none;
    width: 150px;
    letter-spacing: 0.1rem;
    background-color:darkolivegreen;
    color: bisque;
    border-radius: 4px;
    cursor: pointer;
}

.close{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 20px;
}